<div class="dweet submit-box">
  <div
    class=canvas-iframe-container-wrapper
    id="submit-preview">
    <div
      class=canvas-iframe-container
      id="iframe-container-submit">
      <strudel-repl>
        <!-- {{ dweet.code }} -->
      </strudel-repl>
      <!--<iframe class="dweetiframe" id=preview-iframe
      src="{% url 'blank_dweet' host 'dweet' %}"
      sandbox="allow-scripts allow-same-origin allow-downloads"></iframe>-->
    </div>
  </div>
  <div class="dweet-actions">
    <!--<a class="show-stats" href="javascript:;" target="_blank">show FPS</a>
    <a class="hide-stats visible" href="javascript:;" target="_blank">hide FPS</a>-->
  </div>
  <div class="dark-section">
    <form action="{% url 'dweet' %}" method="post">
      {% csrf_token %}
      <div class=dweet-code>
        <textarea
          autocorrect="off" autocapitalize="off" spellcheck="false"
          name="code"
          class="code-input"
          rows="4"
          id="editor"
          oninput="this.style.height='auto';this.style.height=this.scrollHeight+'px';"
          >s("bd")</textarea>
      </div>
      <!--<code class="function-wrap">} // <div class=character-count>122/140</div>
      </code>-->
      </br>
      <div class=error-display></div>
      <div class=dweet-changed>
      {% if request.user.is_authenticated %}
        <div class=post-dweet-div>
        <input type=text placeholder="Add a caption here..." name="first-comment" class="new-dweet-comment-input" />
        <input
          class=dweet-button
          type="submit"
          value="Post dweet!" />
        </div>
      {% else %}
        <br />
        <p>Please <a href="{% url 'auth_login'  %}" >log in</a> (or <a href="{% url 'register'  %}" >register</a>) to post a dweet (copy-paste the code somewhere safe to save it meanwhile) </p>
      {% endif %}
    </div>
    </form>
  </div>
  <br />
  <code class=submit-help>
    <a href="https://strudel.tidalcycles.org/learn/getting-started" target="_blank">Learn Strudel</a>
  </code>
</div>
